<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1>create new meassage</h1>

        <form method="POST" action="/new" >
            <input type="text" name="text" id="text" placeholder="message">
            <input type="text" name="user" id="user" placeholder="username">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>